{% extends "treekids.html" %}
{% block content %}
<h1>ICS</h1>
<br>
<form method='post' action="/ics">
  <input type="submit" name="initdb_button" value="InitDb"><br>
</form>
<br>
<form method='post' action="/ics">
  <input type="text" name="username" id="username" placeholder="New ICS User">
  <input type="submit" name="new_ics_user_button" value="New ICS User"><br>
</form>
<br>
<!-- add forms to query for users, questions, and answers. -->
<form method='post' action="/ics">
  <input type="text" name="user_query" id="query" placeholder="username">
  <input type="submit" name="users_button" value="Query Users">
  <input type="submit" name="answers_time_button" value="Query Answers">
  <input type="submit" name="questions_button" value="Query Questions">
</form>
<hr>
<table>
{% for row in rows %}
  <tr
     {% if loop.index == 1 %}
       bgcolor=lightgrey
     {% elif row[2] == "Ques" %}
       bgcolor=pink
     {% else %}
       bgcolor=white
     {% endif %}
  >
    <td>{{ row[0] }}</td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>{{ row[3] }}</td>
    <td>{{ row[4] }}</td>
    <td>{{ row[5] }}</td>
  </tr>
{% endfor %}
</table>

{% endblock content %}

