<!DOCTYPE html>
<html>
<head>
<title>TreeKids</title>
<link rel="stylesheet" type="text/css" href="static/style.css" />
<style>
.tab {
  padding-left: 10px; padding-right: 10px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
</style>
</head>
<body>
{% block headerline %}
<table width=100%><tr>
  <td><h1><a href="/">TreeKids</a></h1></td>
  <td align=right>
    {% if session['logged_in'] %}
       Hello {{ session['username'] }}<br><a href="/logout">logout</a>
    {% else %}
      <a href="/login">login</a>
    {% endif %}
  </td>
</tr></table>
<table>
<tr>
{% if '/login' != request.path %}
  <td>
    <span class='tab'>
      <a href="/">home</a></span>
    </span>
  </td>
{% endif %}
{% if session['logged_in'] %}
  <td>
    <span class='tab'>
      <a href="/homework">homework</a>
    </span>
  </td>
  <td>
    <span class='tab'>
      <a href="/grades">grades</a>
    </span>
  </td>
  <td>
    <span class='tab'>
      <a href="/build">build</a>
    </span>
  </td>
{% endif %}
{% if session['is_internal'] %}
  <td>
    <span class='tab'>
      <a href="/ics">ics</a>
    </span>
  </td>
{% endif %}
</tr>
</table>
{% endblock headerline %}
{% block content %}
Put content here.
{% endblock content %}
</body>
</html>
