<!DOCTYPE html>
<html>
<head>
{% block head %}
<title>TreeKids</title>
{% endblock head %}
<link rel="stylesheet" type="text/css" href="static/style.css" />
</head>
<body>
{% block headerline %}
<table width=100%><tr>
  <td><h1><a href="/">TreeKids</a></h1></td>
  <td align=right>
    {% if session['logged_in'] %}
       Hello {{ session['username'] }}<br><a href="/logout">logout</a>
    {% else %}
      <a href="/login">login</a>
    {% endif %}
  </td>
</tr></table>
<hr>
{% endblock headerline %}
{% block content %}
Put content here.
{% endblock content %}
</body>
</html>
